<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign up</title>
</head>
<body>
      <a href="/">Home</a>
      <h1> Sign up</h1>
      
      <form action="/auth/sign-up" method="POST">
      <label for="email">Email:</label>
        <input type="email" name="email" id="email" />
      <label for="username">Username:</label>
        <input type="username" name="username" id="username" />
      <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password: </label>
         <input type="password" name="confirmPassword" id="confirmPassword" />
      <label for="phoneNumber">Phone Number</label>
       <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Optional" />

       <button type="submit">Sign up</button>
      </form>
    
      <footer>Copyright &#169 2024 Reci-Pies</footer>
</body>
</html>