<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" alt="pie icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Reci-Pies</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <% if(user){ %>    
            <a href="/auth/sign-out">Sign out</a>
         <% }else{ %>
            <a href="/auth/sign-in">Sign in</a>
            <a href="/auth/sign-up">Sign up</a>
    
        <% } %>
    </nav>
    <% if(user){ %>
       <h2>Hello, <%=user.username %>. </h2>
        <% } %>
        <h1>Welcome to Reci-Pies</h1>
       <h2 id="subTitle">A Pie Recipe Manager<h2></h2>
       <% if(user){ %>
       <a href="/users/<%=user._id%>/recipes" id="newBtn">
        <button type="submit">View Recipes</button>
       </a>
     <% } %>
      <img src="/assets/pie.png" alt="drawing of a whole pie" class="homeImg">
      <footer>Copyright &#169 2024 Reci-Pies</footer>
    
</body>
</html>