<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" alt="pie icon">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Recipe</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <nav>
      

    </nav>
    <h1>Add a New Recipe: </h1>
    <form action="/users/<%= user._id %>/recipes" method="POST">
        <label for="title">Title:</label>
         <input type="text" name="title" id="title" required >

        <label for="ingredients">Ingredients:</label>
         <input type="text" name="ingredients" id="ingredients" required>

        <label for="protein">Protein (Slice):</label>
         <input type="number" min="0" name="protein" id="protein" placeholder="0g" >

        <label for="carbs">Total Carbs (Slice):</label>
         <input type="number" min="0" name="carbs" id="carbs" placeholder="0g">

        <label for="instructions">Instructions:</label>
        <textarea name="instructions" id="instructions" required></textarea>

        <button type="submit">Add Recipe</button>

    </form>

    <footer>Copyright &#169 2024 Reci-Pies</footer>
</body>
</html>